:root{
    --main-dark-text: #000;
    --main-light-text: #36373e;
    --main-color: #9498A4;
    --main-secondary: #f2bb05;
    --accent-01: #d74e09;
    --accent-02: #6e0e0a;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--main-dark-text);
    background-color: var(--main-light-text);
    font-family: 'Arial Narrow Bold', sans-serif;
}

#collection-title {
    background-color: var(--main-color);
    color: var(--main-dark-text);
    border-radius: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    min-width: 9vw;
}

main > *{
    width: 100%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    max-width: 80vw;
}

#collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: 4;
    gap: 1rem;
    
}

.collection-card {
    background-color: var(--main-color);
    color: var(--main-dark-text);
    font-size: 1.2em;
    border-radius: 15px;
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    overflow: hidden;
}

.card-img {
    display: block;
    width: 100%;
    height: 200px;
    background-color: var(--main-light-text);
    color: var(--main-dark-text);
}

.card-desc {
    
    overflow: hidden;
    padding: 1rem;
}

.card-desc:hover {
    background-color: var(--main-secondary);
    color: var(--main-dark-text);
}

.card-desc > a {
    padding: .5rem;
    display: block;
    color:inherit;
    text-decoration: none;
    min-width: 100%;
    margin: 0;
}

