:root {
    --light-background: #fff;
    --dark-background: #000;
    --dark-primary: #000;
    --light-primary: #fff;
}

* ,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    font-family: Montserrat;
}

p, a {
    font-size: 3rem;
    text-decoration: none;
    color: var(--dark-primary)
}

section {
    height: 100vh;
}

/* Header */
header {
    position: fixed;
    top: 0;
    height: 0;
    mix-blend-mode: difference;
    z-index: 3;
}

header #navbar{
    color: #fff;
}

/* Nav Bar */
#navbar {
    padding: 1em;
    height: 5em;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 2em;
}




/* Welcome */
#welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    border: solid red 1px;
    align-items: center;
}

#welcome-section .flex-col-half {
    max-height: 500px;
    border: solid red 1px;
    
}

#welcome-section h1 {
    font-size: 5em;
}

/* Projects */
#projects {
    background: var(--dark-background);
}

#projects * {
    color: var(--light-primary);
}

/* Contact */
#contact {
    background: var(--light-background);
}

/* Footer */