:root {
    --light-background: #fff;
    --dark-background: #000;
    --dark-primary: #000;
    --light-primary: #fff;
}

* ,::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

* :not(i) {
    font-family: Montserrat;
}

p, a {
    font-size: 3rem;
    text-decoration: none;
    color: var(--dark-primary)
}

h1 {
    font-size: 5em;
}

section {
    height: 100vh;
}

/* Header */
header {
    position: sticky;
    top: 0;
    height: 0;
    mix-blend-mode: difference;
}

header #navbar *{
    color: #fff;
}

/* Nav Bar */
#navbar {
    padding: 1em;
    height: 5em;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 2em;
}

@media (orientation = portrait) {
    section {
        flex-direction: column;
        padding: 1em;
    }

    #navbar ul {
        justify-content: center;
    }


    #welcome-section {
    }

    h1 {
        font-size: 3em;
    }

    p, a {
        font-size: 2rem;
    }
}




/* Welcome */
#welcome-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
    align-items: center;
    background-color: var(--light-background);
}

#welcome-section .flex-col-half {
    max-height: 400px;
}



/* Projects */
#projects {
    background: var(--dark-background);
}

#projects * {
    color: var(--light-primary);
}

/* Contact */
#contact {
    background: var(--light-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

#contact > * {
    margin-left: auto;
    margin-right: auto;
}

#link-container {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

#link-container a {
    display: block;
    font-size: 5em;
    
}

/* Footer */