* {
    box-sizing: border-box;
}

/*
    TODO
============
- Use a media query to adjust the #navbar
- If the media is small, put the #navbar on top of the page
- If the media is regular, put the #navbar on the side of the page
*/

body {
    display: flex;
    gap: 1em;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

@media (min-width: 50em) {
    body{
        flex-direction: row;
    }

}

header {
    font-size: 2em;
    font-weight: 800;
}

nav {
    padding: 1em;
}

.nav-link-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link-list > li {
    border: solid 1px black;
}

.nav-link {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: #000;
}

.nav-link:hover {
    background: #dddddd;
}

.nav-link-list > li:not(.nav-link-list > li:nth-child(6n)) {
    border-bottom: none;
}

code{
    display: block;
    background-color: #000;
    padding: 1em;
    color: #00ff00;
    border-radius: 5px;
}